/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

a {
 color:#CFA
}

h1 {
  color: #FFFFFF;
  font-size: 50px;
}

body {
 font-family:Arial,Helvetica,Tahoma,sans-serif;
 font-size:16px;  
 background-image: url("/img/back.jpg");
}
#wrapper { 
 margin: 0 auto;
 width: 1000px;
}
#header {
 width: inherit;
 color: #000000;
 padding: 10px;
 border: 1px solid #ccc;
 height: 100px;
 margin: 10px 0px 0px 0px;
 background: #FA5882;
}
#content { 
 width: inherit;
 color: #fff;
 border-radius: 15px;
 background: #2F7899;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 height: inherit;
}
#footer { 
 text-align: center;
 width: inherit;
 color: #fff;
 border-radius: 15px;
 background: #031424;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}